<h1>Welcome</h1>
<% if !flash[:notice].blank? %>
    <div class = "alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
